@model ISSCFG.Models.ViewModels.UserInputViewModel
@using ISSCFG.Models.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Step 03";
}

<h2 class="question">@Localizer["SizeQuestion"]</h2>
<hr>
<div class="container">
    <div class="card-deck mb-3 text-center">
    <div class="card mb-2 box-shadow">
        <div class="card-header">
            <i class="fas fa-5x fa-tv"></i>
        </div>
        <div class="card-body">
            @Localizer["MediumExplanation"]
            <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="CompleteStep03" asp-route-step03="@Step03.Medium" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Medium"]</button>
            </a>
        </div>
    </div>
    <div class="card mb-2 box-shadow">
        <div class="card-header">
            <i class="fas fa-5x fa-chalkboard-teacher"></i>
        </div>
        <div class="card-body">            
            @Localizer["LargeExplanation"]
            <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="CompleteStep03" asp-route-step03="@Step03.Large" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-lg btn-block btn-primary">@Localizer["Large"]</button>
            </a>
        </div>
    </div>
</div>
<div class="container">   
    <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="ToStep02" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-lg btn-link">@Localizer["Back"]</button>
    </a>    
</div>
