@model ISSCFG.Models.ViewModels.UserInputViewModel
@using ISSCFG.Models.Enums
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Step 02";
}

<h2 class="question">@Localizer["VideoQuestion"]</h2>
<hr>
<div class="container">
    <div class="card-deck mb-3 text-center">
    <div class="card mb-2 box-shadow">
        <div class="card-header">
            <i class="fas fa-5x fa-tv"></i>
        </div>
        <div class="card-body">
            @Localizer["DisplayExplanation"]
            <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="CompleteStep02" asp-route-step02="@Step02.Display" asp-route-id="@Model.Id">            
                <button type="button" class="btn btn-lg btn-block btn-outline-primary">@Localizer["Display"]</button>
            </a>
        </div>
    </div>
    <div class="card mb-2 box-shadow">
        <div class="card-header">
            <i class="fas fa-5x fa-chalkboard-teacher"></i>
        </div>
        <div class="card-body">      
            @Localizer["DigitalBlackBoardExplanation"]      
            
            <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="CompleteStep02" asp-route-step02="@Step02.DigitalBlackBoard" asp-route-id="@Model.Id">
                <button type="button" class="btn btn-lg btn-block btn-primary">@Localizer["DigitalBlackBoard"]</button>
            </a>
        </div>
    </div>
</div>
<div class="container">    
    <a class="nav-link text-dark" asp-area="" asp-controller="Cfg" asp-action="ToStep01" asp-route-id="@Model.Id">
        <button type="button" class="btn btn-lg btn-link">@Localizer["Back"]</button>
    </a>
</div>